body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

table {
  background-color: black;
}

th,
li,
p,
h2 {
  color: white;
}

th {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  background-color: #dc3d31;
  position: sticky;
  top: 0;
  left: 0;
  color: black;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

#menu {
  background-color: black;
}



#hamburger {
  display: none;
}

nav {
  display: table;
  margin: 0 auto;
}

nav ul li {
  display: inline;
  padding: 20px;
  list-style: none;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  line-height: 40px;
}

#menu nav ul li:not(:last-child) {
  border-right: solid 1px #dc3d31;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:link {
  color: white;
}

nav ul li a:visited {
  color: blue;
}

nav ul li a:hover {
  color: #dc3d31;
}

nav ul li a:active {
  color: black;
}

img {
  width: 100%;
}

#title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  padding: 10px;
  line-height: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

#subscribe {
  background-image: url(../images/misc/fernando-de-la-cruz-iufLRA5zr2I-unsplash.jpg);
  background-size: cover;
  padding: 5px;
}

#newsletter {
  background-color: black;
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  border: 2px solid white;
}

input {
  border: 1px solid #c4c4c4;
  height: 25px;
  width: 275px;
  font-size: 0.8125rem;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  -moz-box-shadow: 0px 0px 8px #d9d9d9;
  -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

input:focus {
  outline: none;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
  -moz-box-shadow: 0px 0px 8px #7bc1f7;
  -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

button {
  margin: 10px 0 30px 0;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
          box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fe1a00), to(#ce0100));
  background: -o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #dc3d31;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.9375rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ce0100), to(#fe1a00));
  background: -o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
button:active {
  position: relative;
  top: 1px;
}

#footer {
  background-color: #dc3d31;
}

.icons {
  width: 48px;
  margin-top: 20px;
}

#copyright {
  text-align: center;
  margin-left: 50px;
}

@media (min-width: 726px) {
   label{
display: none;
   }
   }


@media (max-width: 726px) {
  /* (A) BREAK INTO VERTICAL MENU */

  #menu nav ul li:not(:last-child) {
    border-right: solid 0px #dc3d31;
  }

  label {
    color: white;
  }

  #hamburger,
  #hamitems a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
    text-align: center;
  }
  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  #subscribe {
    display: none;
  }

  .icons {
    width: 24px;
    margin-top: 20px;
  }
}
